/* De base, on cache le loader */
#loader-main{
  display: none;
}

/* CSS du loader quand on arrete de le cacher */
#loader-mainv2{
  display: flex;
  width: 100px;
  height: 100px;
  position: absolute;
  animation: loader 2s infinite ease;
  /* Centrer le loader verticalement */
  top : 43vh;
}

/* Container pour positionner le loader au centre de la page */
.container-loader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
/* Partie qui se remplit puis se vide*/
#loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  animation: loader-inner 2s infinite ease-in;
}

/* Animation du carré qui tourne */
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

/* Animation de l'intérieur du carré qui tourne */
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}